<p>
<ul>
  <li>Use this tool to send emails to:
    <ul>
	<li>all registered groups at once; or</li>
	<li>the groups that chose, or have been assigned to, a particular block; or</li>
	<li>any particular groups you choose.</li>
    </ul>
  </li>
  <li>Emails cannot be sent to <b>un</b>registered groups, there being no user's email address linked to them.</li>
  <li>
	This list shows all emails that have ever been composed, regardless of whether they were sent.
	It is broken down by the year the email was created, defaulting to showing the most recent year.
	Click the "SHOW" link next to another year if you wish to view those emails.
  </li>
  <li>The STATUS field may contain any of the following values:
    <ul>
	<li><b>SETUP:</b> A new email where one or more required fields have not been filled in yet.  It must be edited before it may be sent.</li>
	<li><b>READY:</b> An email where all required fields are filled in.  It may be edited further, or it may be sent as-is.</li>
	<li><b>SENDING:</b> An email which has been sent to some recipients but was interrupted.  It may only be allowed to finish sending.</li>
	<li><b>SENT:</b> An email which has been mailed out already.  It may not be edited, but it may be copied from the VIEW page.</li>
    </ul>
  </li>
</ul>

Directions:
<ul>
  <li>
	<b>TO START</b>, find an email that resembles the one you want to send, click VIEW, then click COPY.
	This will create a new, unsent email identical to the one you copied, which you can edit for your current needs.
  </li>
  <li>
	<b>OTHERWISE,</b> if no existing email is similar to your current needs, click "Start a new mail merge: GO"
	at the bottom of the form.  This will create a new, blank email that you can edit as you see fit.
  </li>
  <li>If making changes is possible, click the EDIT link, otherwise click VIEW.</li>
  <li>Once all desired changes are made, click the SEND link.  <b>This action will send the emails immediately.</b></li>
  <li>
	After sending out block-assignment emails to all groups, click the pink-highlighted link at the bottom labeled
	"DECLARE THAT YOU HAVE SENT EMAILS TO EVERYONE ...", which will allow groups to see what block they are assigned to,
	as well as the names and contact information for (and begin to send emails to) the other land agents on that block.
	I strongly suggest not clicking this link until the block assignments are complete, or nearly so.
  </li>
</ul>
</p>

