<!-- TMPL_VAR NAME=top_message -->

<table border="1">
	<tr bgcolor="silver" style="font-weight:bold">
		<td align="center">
			Variable
		</td>
		<td align="center"> 
			Value
		</td>
	</tr>

	<tr>
		<td align="center">
			id
		</td>
		<td align="center"> 
			<!-- TMPL_VAR NAME=mail_id -->
		</td>
	</tr>

	<tr>
		<td align="center"> 
			From Email
		</td>
		<td align="center"> 
			<!-- TMPL_VAR NAME=from_email -->
		</td>
	</tr>

	<tr>
		<td align="center">
			Subject
		</td>
		<td align="center"> 
			<!-- TMPL_VAR NAME=subject -->
		</td>
	</tr>

	<tr>
		<td align="center">
			Message Body
		</td>
		<td style="text-align:left; font-size:0.75em;">
			<!-- TMPL_VAR NAME=body -->
		</td>
	</tr>

	<tr>
		<td align="center">
			Selected Groups
		</td>
		<td align="center"> 
			<!-- TMPL_VAR NAME=groups -->
		</td>
	</tr>

	<tr>
		<td align="center">
			STATUS
		</td>
		<td align="center"> 
			<!-- TMPL_VAR NAME=status -->
			<!-- TMPL_VAR NAME=href -->
		</td>
	</tr>
</table>
