<!-- SCA disclaimer -->
<br clear=all>

<p>

<div id="disclaimer">

<IMG class="screen" SRC="image/m-corsiva.gif" border=0 ALT="This website donated by panix.com" style="float:left">

Pennsic War is an annual event between the East and Middle Kingdoms of the

   <a href="http://www.sca.org">Society for Creative Anachronism, Inc</a>.,

and is hosted by the <a href="http://www.aethelmearc.org">Kingdom of &AElig;thelmearc</a>
at <a href="http://www.cooperslake.com">Coopers' Lake Campground</a>.

 Webhosting services are generously donated by <A HREF="http://www.panix.com">Panix.com</A> (Public Access Networks Corporation).

The Pennsic War event staff thank Panix for their continued support of the SCA and the Pennsic War.

<p>

<strong>land.pennsicwar.org</strong> is maintained by <!-- TMPL_VAR NAME=webmaster_name -->
<a href="mailto:<!-- TMPL_VAR NAME=webmaster_email -->"><!-- TMPL_VAR NAME=webmaster_email --></a>.

<strong>www.pennsicwar.org</strong> is the recognized web site for the Pennsic War of
the Society for Creative Anachronism, Inc., and is maintained by Jessa d'Avondale
<a href="mailto:webpage@pennsicwar.org">webpage@pennsicwar.org</a>.

This site may contain electronic versions of the group's governing documents.
Any discrepancies between the electronic version of any information on this site
and the printed version that is available from the originating office will be
decided in favor of the printed version. For information on using photographs,
articles, or artwork from this web site, please contact the Webminister,
who will assist you in contacting the original creator of the piece.
Please respect the legal rights of our contributors.

Copyright &copy; <!-- TMPL_VAR NAME=current_year --> Pennsic War.
The original contributors retain the copyright of certain portions of this site.

<p>

The photo on this page is used by permission of Thorolfr inn smithr.

</div>