<div style="font-size:1.2em; color:green">
<span style="text-align:center; font-weight:bold">Land Agent Express Check-In</span>
<br/><br/>
Steps to successfully complete Express Check-In:
<br/><br/>
  1) Prior to beginning the Express Check-in, all Land Agents for groups on a single block must have checked in
     and picked up their packet from the Land Office.  Land Agents do not need to arrive together to check in.
<br/><br/>
  2) All Land Agents from a single block must agree on the land distribution of their block.
<br/><br/>
  3) All Land Agents must sign one copy of the official map showing the land distribution.
     This map must include clearly defined borders/measurements, legible group names and, where applicable,
     identification of appropriately sized single camper space.
<br/><br/>
  4) All Land Agents from a single block must complete their Camping Authorization Forms.
<br/><br/>
  5) As a collective group, all Land Agents from a single block must report to the Land Office with their signed map
     and Camp Authorization Forms no later than 11:45pm Friday night, <!-- TMPL_VAR NAME=land_grab_friday -->.
<br/><br/>
  6) The Land Office will review and approve the map. The signed map and all Camping Authorization Forms will be
     retained by the Land Office.
<br/><br/>
  7) Express Check-In will close at 11:45pm Friday night, <!-- TMPL_VAR NAME=land_grab_friday -->.
     No Express Check-In will be available or processed on Saturday <!-- TMPL_VAR NAME=land_grab_saturday -->.
<br/><br/>
  8) Individual Land Agents who have successfully completed the Express Check-In should arrive at the
     <span style="color:blue">Great Hall on N01</span> at 9am on
     Saturday morning and report to the Express Line to pick up their approved Camping Authorization Form and parking passes.
     Your forms will be filed alphabetically by your group name.  Land Agents from the same block do not need to arrive/stay
     together at the Express Line on Saturday.
</div>