<h1>Zoning and Planning (Land)</h1>

<div style="font-weight:bold"><!-- TMPL_VAR NAME=user_message --></div>

<!-- TMPL_VAR NAME=main_page_message -->

Your Name: <b><!-- TMPL_VAR NAME=legal_name_variable_string --></b><br />
Your Group: <b><!-- TMPL_VAR NAME=groupname_variable_string --></b><br />

<br/>


<p style="color:green; font-weight:bold"><!-- TMPL_VAR NAME=motd --></p>


 <h3>About Land Agents:</h3>
Each group camping at Pennsic must have a Land Agent.
<P>
A Land Agent needs: <br>
<span style="margin-left:10px">&bull; web access, to register on the Land Office website, and  <br></span>

<span style="margin-left:10px">&bull; an e-mail account, to negotiate with the other Land Agents on their block before Pennsic </span>
<p>
Land Agents should familiarize themselves with all the Land <!--a href="LAND/docs.html"-->Rules and Procedures</a-->.
<p>
Land Agents should be in touch with everyone who will camp with their group.  The group will be allocated space based on the number of pre-registered campers.<P>

All Land Agents must be present sometime between Friday afternoon and Saturday morning by 9am to claim and rope off their land.
<P>

<div style="color:blue">

    <span style="font-size: 1.5em; font-weight:bold;">Land Staff Hours of Operations for Land Grab</span><br />

    <ul>
        <li><B>Friday, <!-- TMPL_VAR NAME=land_grab_friday --></B>
            <ul>
                <li>Noon to 11:45 pm<br />
                    Land Agent Packet Pick-up <strike>and Express Check-In Registration</strike>
                </li>
            </ul>
        </li>

        <li><B>Saturday, <!-- TMPL_VAR NAME=land_grab_saturday --></B>
            <ul>
                <li>6:00 am to 8:45 am<br />
                    Land Agent Packet Pick-up
                </li>
                <li>9:00 am<br />
                    Land Grab General Processing <strike>and Express Check-In Authorizations Pick-Up</strike>
                </li>
            </ul>
        </li>
    </ul>

</div>

<br/>