<h1>Zoning and Planning (Land)</h1>

<div style="font-weight:bold"><!-- TMPL_VAR NAME=user_message --></div>

<!-- TMPL_VAR NAME=main_page_message -->

Your Name: <b><!-- TMPL_VAR NAME=legal_name_variable_string --></b><br />
Your Group: <b><!-- TMPL_VAR NAME=groupname_variable_string --></b><br />

<br/>


<p style="color:green; font-weight:bold"><!-- TMPL_VAR NAME=motd --></p>


 <h3>About Land Agents:</h3>
Each group camping at Pennsic must have a Land Agent.
<P>
A Land Agent needs: <br>
<span style="margin-left:10px">&bull; web access, to register on the Land Office website, and  <br></span>

<span style="margin-left:10px">&bull; an e-mail account, to negotiate with the other Land Agents on their block before Pennsic </span>
<p>
Land Agents should familiarize themselves with all the Land Rules and Procedures.
<p>
Land Agents should be in touch with everyone who will camp with their group.  The group will be allocated space based on the number of pre-registered campers.<P>

All Land Agents must be present sometime between Friday <!-- TMPL_VAR NAME=land_grab_friday --> at 9:00 am and Saturday morning by 10:00 am to claim and rope off their land.
<P>

<div style="color:blue">

    <span style="font-size: 1.5em; font-weight:bold;">Land Staff Hours of Operations for Land Grab</span><br />

    <ul>
        <li><B>Friday, <!-- TMPL_VAR NAME=land_grab_friday --></B>
            <ul>
                <li>9:00 am until 11:00 pm<br />
                    Land Agent Packet Pick-up, Land Grab General Processing, and Approved Block Land Agent Entry
                </li>
            </ul>
        </li>

        <li><B>Saturday, <!-- TMPL_VAR NAME=land_grab_saturday --></B>
            <ul>
                <li>8:00 am until 12:00 noon <br />
                    Land Grab General Processing, and Approved Block Land Agent Entry
                </li>
                <li>12:00 noon until 6:00 pm<br />
                    General Entry and Land Staff Office Available for Questions
                </li>
            </ul>
        </li>

        <li><B>Sunday, <!-- TMPL_VAR NAME=land_grab_sunday --></B>
            <ul>
                <li>10:00 am to 6:00 pm<br />
                    Land Staff Office Available for Questions
                </li>
            </ul>
        </li>
    </ul>

</div>

<br/>