
<div id=context> 
<!--sansserif style="float:left; padding:10px"-->

<table border="1" cellpadding="4" cellspacing="0" align="left" >
	<tr>
		<td align="center" colspan="4">
			<span style="font-size:18; font-weight:bold;">Created Land Agent Account</span>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="4">
			<span style="font-size:16;">
				Your new username for the Land Agent system has been created.  Please log on
				with your new username using the form below.
				<br /><br />
				<b>NOTE:</b> please do not refresh this page.
			</span>
		</td>
	</tr>
</table>
</div>
<div style="clear:both" />