<div id="pennhdr" class=blueimage >

<span style= "/* float:left; */ margin-top:0; margin-bottom:0;  font-weight: bold; /* filter:dropshadow(color=#cfcfcf,offX=3,offY=3) */ ">
Pennsic <!-- TMPL_VAR NAME=pennsic_number --> <!-- TMPL_VAR NAME=title -->
</span>
<br/>
<span style= "margin-top:0; margin-bottom:0; font-weight:normal; font-size:50%; ">
Logged in as <!-- TMPL_VAR NAME=user_name -->
</span>
<br />
<span style= "margin-top:0; margin-bottom:0; font-weight:normal; font-size:80%; ">
Land Agent: <span style="color:red; font-weight:bold"><!-- TMPL_VAR NAME=admin_flag --></span> <b><!-- TMPL_VAR NAME=alias --></b>&nbsp;&nbsp;&nbsp;Group: <b><!-- TMPL_VAR NAME=group_name --></b>
</span>
</div>
<P>