
<div id=headerimage> <img src="image/header-lake2.jpg" height=114px width=100% /> <!-- original at http://www.pennsicwar.org/images/header-lake2.jpg -->
<a href="http://www.pennsicwar.org"  style="text-decoration:none; color:white">
<div id="header-title">PENNSICWAR.ORG<span>PENNSICWAR.ORG</span> <span class="last">PENNSICWAR.ORG</span></div>
</a>
<div id=subbanner  style="font-decoration:none">THE OFFICIAL WEBSITE OF THE PENNSIC WARS
<br/>
<!-- TMPL_VAR NAME=logon_display_string -->
</div>
</div> <!-- background image -->

    <div id=searchtext>
    
	<FORM ACTION="http://search.freefind.com/find.html" METHOD="GET"  target="_self"  style="float:right; " >
	<INPUT TYPE="HIDDEN" NAME="id" VALUE="69253980">
	<INPUT TYPE="HIDDEN" NAME="pageid" VALUE="r">
	<INPUT TYPE="HIDDEN" NAME="mode" VALUE="ALL">
	<INPUT TYPE="TEXT" NAME="query" SIZE="16">
	<INPUT TYPE="SUBMIT" VALUE=" Search "><br>
	Powered by <A HREF="http://www.freefind.com">FreeFind</A>
	</FORM>

    </div>
	<div id=fullnavbar>.</div>

</div> <!-- why is this here?  [Corwyn P41] -->
