<form name="form1" method="post" action="?">
<br/>
<!-- TMPL_VAR NAME=top_message -->
<p>
When choosing a password, please make it hard to guess.
Remember when choosing passwords that CAPITALIZATION
counts (dragon, DraGon, and DRAGON are different passwords).
</p>
<p>
You cannot change your password hint here for security reasons.
If you need assistance, please contact the webmaster at
<!-- TMPL_VAR NAME=webmaster_email -->.
</p>
<li>Your password should not be the same as your username.</li>
<li>Your password should not be the same as your groupname.</li>
<li>Your password should consist of upper and lowercase letters as well as numbers.</li>
<li>Do not write your password down; do not give it to anyone.</li>
<li>The Pennsic Land Office does not need your password to access your account.</li>
<li>Do not give your password to your successor: instead, your successor should create his own account.</li>
<br/>
<br/>
Enter Current Password<br>
<input type="password" name="password_old" length="10" />
<!-- TMPL_VAR NAME=password_old_error_string -->
<br/>
<br/>
Enter New Password TWICE:<br>
<input type="password" name="password_1" length="10" />
<br/>
<br'>
<input type="password" name="password_2" length="10" />
<!-- TMPL_VAR NAME=password_error_string -->
<br/>
<br/>
<input type="submit" value="Change Password" name="action" />
</form>
