<h3>This list is for YOUR EYES ONLY, do not put this on websites, list groups, etc.</h3>
<h4>If you think you are missing someone from your list please read below</h4>
	
<table>
<!-- TMPL_VAR NAME=table -->
</table>
	
<p>Think someone is missing from this list?  It happens every year, and here is what you do about it:<p>

<ul>
	<li>If this list says "Total of 0 Registrations", it means you <b>really</b> have no registrations.</li>
	<li>If this list appears to be correct, but the number ("You have N people registered to your camp") on the Main Page is different, please rest assured that the list on this page is <strong>correct</strong> and the number on the front page is <strong>out of date</strong>.  My apologies for this confusion.</li>
	<li>Note: the page no longer requires JavaScript to run correctly.</li>
</ul>

<p>If someone seems to be actually missing from the list, do the following:</p>

<ol>
    <li>Do not wait until pre-registration closes <!-- TMPL_VAR NAME=registration_close -->. <b>Do this now.</b></li>
	<li>From the time a person pre-registers on the Coopers Lake site, until the time their payment clears, they will <strong>not</strong> appear on this list.  This is normal.  Please verify that your camper's payment has cleared before worrying about where they are camping.</li>
	<li>Anyone who thinks they have registered for your group, and does not appear here, can log back onto the Coopers Lake site and edit their record, correcting their requested group name.  This will move them immediately on this page as well.</li>
	<li>If the camper does not wish to or cannot move themself in this way, you may contact the land office and we will do it for you.</li>
    <li>Contact the person who you think is missing and get their <b>PENN NUMBER</b>.  It would have been sent to them in their registration confirmation letter.</li>
    <li>Put their <b>FULL REAL NAME</b> and <b>FULL SCA NAME</b> (if they have one) and <b>PENN NUMBER</b> and your <b>GROUPNAME</b> into an email to <!-- TMPL_VAR NAME=webmaster_email --> with a note saying "Please move this person to my group."</li>
    <li>E-mails received without all of the above will be returned with this list attached.</li>
    <li>We will then find the person in the database, move them to your camp, and email you a confirmation that we have done so.</li>
</ol> 
