<h2>Welcome, Land Agent!</h2>
<p>
	Please use this form to log on using your username and password from last year.
</p>
<!-- if registration_open -->
<p>
	If you are a new land agent and do not yet have a username and password,
	you should <a href="newuser.php">create a new username</a> for yourself instead.
</p>
<p>
	If you have forgotten your password, you may <a href='forgot_password1.php'>reset it</a>.  The new password will be sent to the email address of record for the account.
</p>
<!-- else -->
	<!--
<p>
	If you are a new land agent, unfortunately, creation of usernames and registration of groups has closed for the year.
</p>
	-->
<!-- endif -->
