
# ignore OLD files
*_OLD*
*_old*

# ignore any html files
*.html

# ... except the index redirector
!index.html

# ... and the cooper files
!admin_cooper_*.html

# ignore file with personal information
CONTACT_INFO.txt

# ignore contents of datafiles/ directory
datafiles/*.csv

