html {height:101% }

BODY { font-size:90%; background-color:white; #F8F8FF;   font-family: arial, sans-serif }



a:link {color:mediumblue}
a:visited{color:purple}
 
 h1 {font-size:140%}
 h2 {font-size:120%}
 h3 {font-size:110%}
 
 h1.frontpage {font-style:italic; margin-bottom:1px; font-size:150%}
 h2.frontpage {margin-top:0; margin-bottom:8px; font-size:130%;}
 h3.frontpage {margin-top:0; margin-bottom:3px; font-size:115%}

#headerimage { background-color:white;   border: solid 1px  #96a6b6; border-bottom: 0px;}

#header-title {
position:absolute; top:10px; left:15px;
  
  color:black; 
  font-family:garamond;  font-weight: bold;  font-size:2.0em;
   
   
}
 

#header-title span {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  color:   black;  white;
  
}
#header-title span.last {
  top: 0px;
  left: 0px;
  color:    white;
  
}
#header-title span.last a {
 color:black; white; }

  

#subbanner{font-family: garamond, times;
	color:white;    position:absolute; top:47px; left:14px; margin-left:4px; font-weight:bold; 
	 font-size:.9em;
	text-shadow: 2px 1px 0px black;}

 
#searchtext{ font-family:verdana, arial, sans-serif; font-variant:normal; font-size:70%; border:solid 1px black; width:208px;
  position:absolute; top:15px; right:14px; padding:2px; background-color:#F8F8FF;  }

  
     
#fullnavbar {position: relative; top:0px; z-index:0; background-color:  #506987; width:100%;  line-height:27px}
#fullnavbar-index {position: relative; top:-3px; z-index:0; background-color:  #506987; width:100%;  line-height:27px}

 #crumbtrail{  position:relative; z-index:0 }			 
	   
.crumb {  position:relative; top:-1px; font-size:75%; font-weight:bold; font-family:verdana, arial;  background-color: #96a6b6;    padding-top:2px; padding-bottom:0px; line-height:2; height:26px;}
	  
 
#frontpage-box {border: #607B8B solid 3px; background-color:#ECF3F9; margin-top:20px;  margin-left:5px; padding: 15px; padding-top:0px; font-size:90%; width:50%; float:left;}

 
#panix { float:left; }

#footer{font-size:85%; font-family: arial, sans-serif;  padding: 5px;}

#disclaimer {float:center;  width:99%; margin: 0;     padding: 10px 5px 5px 5px; background: #F0F0F0; 
	font-family: arial, sans-serif; font-size:75%; color: #333333}


.smallcaps { font-variant: small-caps; font-size:100%; line-height:1em;}

.sansserif {font-family: arial, sans-serif;}

.depttitle {font-size: 160%; text-align:center; font-family: arial,sans-serif;}
.depthead {font-size: 100%; font-weight: normal; margin:0 0 0 5px;}


img.mobile {visibility:hidden}
#hide {display:none}
#pw40 {visibility:visible}
#pw41 {visibility:visible}

a:hover{xbackground-color:white}