# gitignore for sql/

# ignore as-built files: they are server- and instance-specific
*_asbuilt.sql

# also ignore alter files: same reasoning
*_alter.sql

# don't ignore _old files as in parent directory
!*_old*
